'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Dakota'
      'submenu': [
        {
          'label': 'Transform current position'
          'command': 'dakota:transform'
        }
      ]
    ]
  }
]
